.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 2px solid #A933FF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 350px;
    margin: auto;
}


.cardImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
  
.cardName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.cardDescription {
    font-size: 1rem;
    text-align: center;
}